@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gunmetal {
  color: white;
  background-color: #233239;
}

.stages {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.stage {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 18%;
  max-height: 700px;
  padding: 10px;
  background-color: #f9f9f9;
}

.applications {
  min-height: 200px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.applicant {
  margin: 10px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: move;
}

.applicant-hired {
  margin: 10px;
  padding: 10px;
  background-color: green;
  color: #e0e0e0;
  border-radius: 5px;
  cursor: move;
}

.applicant-rejected {
  margin: 10px;
  padding: 10px;
  background-color: #e51e25;
  color: #e0e0e0;
  border-radius: 5px;
  cursor: move;
}

.snowflake {
  position: absolute;
  top: -20px;
  color: rgb(133, 211, 236);
  /* White snowflakes */
  user-select: none;
  z-index: -1;
  pointer-events: none;
  font-size: 1em;
  /* Snowflake size */
  animation: fall linear infinite;
}
@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}