@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Define CSS variables for light and dark modes */
:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
  --bg-color-dark: #000000;
  --text-color-dark: #ffffff;
}

body.light {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

body.dark {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

/* Additional styles for dark mode */
.dark .bg-gray-200 {
  background-color: #333333;
}

.dark .bg-gray-800 {
  background-color: #111111;
}

.dark-theme {
  @apply bg-gray-900 text-white;
}

.light-theme {
  @apply bg-white text-gray-900;
}

.gunmetal {
  color: white;
  background-color: #233239;
}

.stages {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.stage {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 18%;
  max-height: 600px;
  padding: 10px;
  background-color: #f9f9f9;
}

.applications {
  min-height: 200px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.applicant {
  margin: 10px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: move;
}

.applicant-hired {
  margin: 10px;
  padding: 10px;
  background-color: green;
  color: #e0e0e0;
  border-radius: 5px;
  cursor: move;
}

.applicant-rejected {
  margin: 10px;
  padding: 10px;
  background-color: #e51e25;
  color: #e0e0e0;
  border-radius: 5px;
  cursor: move;
}

.snowflake {
  position: absolute;
  top: -20px;
  /* color: rgb(133, 211, 236); */
  color: rgb(255, 0, 0);
  /* White snowflakes */
  user-select: none;
  z-index: 1;
  pointer-events: none;
  font-size: 1em;
  /* Snowflake size */
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

input[type="radio"]:checked {
  background-color: #233239;
}

.dark input[type="radio"]:checked {
  background-color: #e51e25;
}

input[type="radio"] + span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2.5rem; /* Adjust based on the height of the radio button container */
}

input[type="radio"]:checked + span {
  background-color: #233239; /* Change to desired color when selected */
  color: white;
}

.dark input[type="radio"]:checked + span {
  background-color: #e51e25; /* Change to desired color when selected */
  color: white;
}